/* Epilogue */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Roboto:wght@500&display=swap');
/* Epilogue */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Roboto */

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    padding: 10px;
    height: 100px;
    
    width: 70%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-column-gap: 600px;
    background-color: #ffffff37;
}

header img{
    margin-top: 30px;
    width: 147px;
    height: 86px;
    margin-right: 15px;
}

#logoo{
    position: relative;
    justify-content: center;
    margin-left: 0px;
    margin-top: 10%;
}

#user{
    border-radius: 50px;
    background-color: #01b119;
    width: 60px;
    margin-left: -200px;
    height: 60px;
} 

section img{
    width: 50px;
    height: 46px;
    
    cursor: pointer;
}

.carrinho {
    display: flex;
    align-items: center;
}

.carrinho img{
    width: 40px;
    height: 40px;
    margin: 0px;
    margin-right: -100px;
    margin-left: 0%;
    cursor: pointer;
}

header section{
    display: flex;
    gap: 50px;
}

nav{
    font-family: 'Epilogue';
    font-size: 17px;
    width: max-content;
    margin-right: -200px;
    display: flex;
    column-gap: 17%;
    white-space: nowrap;
    align-items: center;
}

nav a{
    cursor: pointer;
    text-decoration: none;
    color: #171A1F;
    height: min-content;
    font-weight: 300;
}

nav a:hover{
    color: rgb(30, 140, 20);
}

/* BANNER */

.banner{
    background-image: url("https://img.freepik.com/fotos-gratis/jogadores-de-futebol-em-acao-no-estadio-profissional_654080-1820.jpg?w=1380&t=st=1686169645~exp=1686170245~hmac=730aaba037553d951805ee4114d5030f5ecc017f95e1100d537c9139c321d1c3");
    background-repeat:round;
    width: 2020px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    background-attachment: fixed;
}

.banner button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 52px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    background-color: #065133;
    cursor: pointer;   
}
a{
    text-decoration: none;
}


.banner img{
    width: 500px;
    height: 100%;
}

.banner section{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: #171A1F;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}


/* FIM DO BANNER */
h1{
    margin-top: 100px;
    color: #242730;
    font-family: 'roboto';
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NOSSOS PRODUTOS */

.nossosprod{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nossosprod .butoes{
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

#branco a {
    background-color: white;
    color: #36725a;
    font-family: 'Roboto';
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
}

.butoes button{
    font-family: 'Roboto';
    background-color: #065133;
    cursor: pointer;
    height: 36px;
    width: 150px;
    border-style: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.nossosprod section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    row-gap: 10px;
}

.produtos .camisas{
    width: 276px;
    height: 334px;
    cursor: pointer;
}

.camisas:hover{
    opacity: 80%;

}

.produtos h1{
    margin-top: 0px;
    font-size: 35px;
    justify-content: start;
}

.produtos h3{
    align-items: end;
    justify-content: start;
    font-family: 'Roboto';
    font-size: 18px;
    height: min-content;
}

.produtos h5{
    align-items: center;
    justify-content: center;
    font-family: 'Epilogue';
    opacity: 90%;
    
    height: min-content;
}

.produtos{
    position: relative;
    width: 276px;
    row-gap: 20px;
    padding: 30px;
    height: 464px;
    display: grid;
    grid-template-rows: 334px 10px 30px 1px;

}

.produtos .kkkk{
    position: absolute;
    bottom: 35px;
    left: 270px;
    cursor: pointer;
}

/* FIM DOS NOSSOS PRODUTOS */

/* NOSSA HISTORIA */
.nossahistoria h1{
    margin-top: 7%;
    margin-left: 11%;
    align-items: start;
    justify-content: center;
    text-align: justify;
}

.nossahistoria img{
    width: 612px;
    height: 448px;
    border-radius: 10px;
    box-shadow: #043f28 10px 10px 10px;
    border-style:none;
}

.nossahistoria{
    height: 450px;
    padding: 50px;
    width: 100%;
    background-color: rgb(173,203,153);
    display: flex;
    justify-content:space-around;
}

.historia p{
    
    width: 498px;
    font-size: 25px;
    margin-top: 7%;
    margin-left: 8%;
    text-align: justify;
    font-family: 'Epilogue';
    color: #043f28;
}

/* FIM DA NOSSA HISTORIA */
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Epilogue';


}

.insta h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Epilogue';
    margin-top: 15%;
    margin-bottom: 15%;
    font-weight: bold;
    font-size: 200%;
}

h6{
    color: rgb(9, 9, 9);
    font-size: larger;
}

/* PARCEIROS */

.parceiros{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
}

.instas {
    display: flex;
    justify-content: space-evenly;
    gap: 116%;
    text-align: center;
    margin-top: -4%;
    justify-content: center;
}

.instas h1{
    display: flex;
    font-size: 140%;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
}


.parceiros img{
    width: 400px;
    height: 494px;
}

/* FOOTER */
footer h2{
    font-family: 'Roboto';
}

footer h4{
    font-family: 'Epilogue';
    font-size: 14px;
}

footer a{
    font-family: 'Epilogue';
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 0px;
    width: 100%;
    background-color: #1E2128;

}

.conteudo{
    width: 85%;
    height: 75%;
    
    display: grid;
    grid-template-columns: 200px 200px 200px 900px;
}

.conteudo h4{
    cursor: pointer;
}

.conteudo section{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.receba{
    display: flex;
    row-gap: 0px;
    align-items: end;
    margin-right: 200px;
    flex-direction: column;
}
.receba h2{
    margin-bottom: 30px;    
}

.receba input{
    font-family: 'Epilogue';
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(240, 255, 255, 0.432);
    font-size: 20px;
    width: 250px;
    height: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}

.ensira{
    display: flex;
    flex-direction: column;
    column-gap: 5px;
}

.receba h2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
    margin-bottom: 10px;
    
}

.ensira button{
    color: white;
    font-size: 17px;
    border-radius: 4px;
    background-color: #043f28;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    cursor: pointer;
}

.icones{
    display: flex;
    margin-bottom: 10px;
    column-gap: 10px;
    
    cursor: pointer;
}
/* POLITICA */

.politica p{
    width: 70%;
    font-size: 15px;
    margin-top: 7%;
    margin-left: 15%;
    text-align: justify;
    font-family: 'Epilogue';
    color: #031e14;
}

.politica h1{
    font-weight: bolder;
    font-size: 25px;
   justify-content: center;
    text-align: justify;
    font-family: 'Epilogue';
}

/* CARRINHO */
.car{
    height: 30vh;
    width: 30vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.compraagr button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    background-color: #065133;
    cursor: pointer;
}

/* Formulario */
#mensagemErro, #mensagemErro2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: red;
    height: 18px;
}
#boasvindas{
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: green;
    position: relative;
    top: -37px;
}
/* Form cadastro */
.form{
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: grid;
}

.form input{
    font-family: 'Epilogue';
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(18, 143, 72, 0.432);
    font-size: 20px;
    width: 350px;
    height: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
.form button{
    color: white;
    font-size: 17px;
    border-radius: 4px;
    background-color: #043f28;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    width: 400px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


h2{
    display: flex;
    font-family:'Epilogue';
    font-size: 15px;

}